#cart {
  display: flex;
  flex-direction: column;
  background-color: rgb(99, 195, 125);
  background: linear-gradient(145deg, #c7f1c8, #f7f7f7);
  position: fixed;
  top: 12vh;
  right: 10px;
  width: fit-content;
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
  overflow: auto;
  padding-top: .25rem;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(15, 22, 14);
  margin-bottom: 0;
}

.close-button {
  color: rgb(151, 191, 146);
  font-size: .65rem;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 1.5rem;
  border: 1px solid rgb(151, 191, 146);
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: rgb(15, 22, 14);
  margin-bottom: 0;
}

.checkout-link {
  text-decoration: none;
  color:rgb(15, 22, 14);
  font-size: 1rem;
  padding: 0.5rem;
}