#cart {
  display: flex;
  flex-direction: column;
  background-color: rgb(99, 195, 125);
  background: linear-gradient(145deg, #c7f1c8, #f7f7f7);
  position: fixed;
  top: 12vh;
  right: 10px;
  width: fit-content;
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
  overflow: auto;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(15, 22, 14);
  margin-bottom: 0;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: rgb(15, 22, 14);
  margin-bottom: 0;
}