.product-section {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.product-container {
  width: 100%;
}

.products {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-auto-rows: 1fr;
  grid-auto-flow: row; */
  /* grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  /* margin: 2rem; */
}