.product-card {
  font-size: .8rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 15px;
}

.product-photo {
  width: 80%;
  height: 80%;
  max-height: 200px;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.product-info > * {
  margin: 5px 0;
}

.add-to-cart-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.quantity-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.quantity-field {
  height: 1.5rem;
}

.add-to-cart-button {
  font-family: 'Space Mono', monospace;
  font-size: .85em;
  color: rgb(12, 20, 16);
  border: none;
  padding: .5rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #dedede);
  box-shadow: 2px 2px 8px #b2b2b2,
    -2px -2px 4px #ffffff;
  cursor: pointer;
  width: 100%;
}

.add-to-cart-button:hover {
  box-shadow: 2px 2px 12px #b2b2b2,
  -2px -2px 4px #ffffff;
}

.add-to-cart-button:active {
  box-shadow: inset 2px 2px 4px #1e6b31,
  inset -2px -2px 4px #77b57a;
}