.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.about-timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.about-container h1 {
  font-size: 3rem;
  font-family: 'Space Mono', monospace;
  margin-bottom: 5vw;
}

.about-container h2 {
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  border-bottom: 1px solid green;
}

.about-container p {
  font-family: 'Space Mono', monospace;
  font-size: 1.25rem;
}

.hidden-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-top: -10vh;
  padding-right: 60vw;
  width: 50%;
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.hidden-left p {
  margin: 0;
  width: 60%;
}

.show-left {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -25vh;
  padding-left: 60vw;
  width: 50%;
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.hidden-right p {
  margin: 0;
  /* border-top: 1px solid green; */
  width: 60%;
}

.show-right {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.timeline-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid green; */
}

.timeline-img {
  width: 400px;
  object-fit: cover;
}
