.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.about-timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

h1 {
  font-family: 'Space Mono', monospace;
}

.timeline {

}

h2 {
  font-family: 'Space Mono', monospace;
}

p {
  font-family: 'Space Mono', monospace;
}

.hidden-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 40px;
  padding-right: 50vw;
  width: 40%;
  opacity: 0;
  filter: blur(5px);
  /* transform: translateX(-100%); */
  transition: all 1s;
}

.hidden-left p {
  margin: 0;
  text-align: right;
  font-size: 1.25rem;
}

.show-left {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 40px;
  padding-left: 50vw;
  width: 40%;
  opacity: 0;
  filter: blur(5px);
  /* transform: translateX(100%); */
  transition: all 1s;
}

.hidden-right p {
  margin: 0;
  text-align: left;
  font-size: 1.25rem;
}

.show-right {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
