.footer {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  margin-top: 10vh;

}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 10vh;
  font-size: 1.5rem;
}

.newsletter-form {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .newsletter-form {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .newsletter-form {
    width: 90%;
  }
  .newsletter h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .newsletter-form {
    width: 90%;
  }
  .newsletter h2 {
    font-size: 1.25rem;
  }
  .newsletter-btn {
   font-size: .8rem;
  }
}

.email {
  width: 70%;
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: 'Space Mono', monospace;
}

.newsletter-btn {
  width: 20%;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #dbdedb,rgb(33, 195, 82));
  box-shadow: 2px 2px 8px #b2b2b2,
    -2px -2px 4px #ffffff;
  cursor: pointer;
}

.newsletter-btn:hover {
  box-shadow: 2px 2px 12px #b2b2b2,
    -2px -2px 4px #ffffff;
}

.newsletter-btn:active {
  box-shadow: inset 2px 2px 4px #b2b2b2,
  inset -2px -2px 4px #ffffff;
}

.confirmation {
  font-size: 1.5rem;
  font-family: 'Space Mono', monospace;
  background-color: rgb(138, 215, 138);
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: 1s;
}

.show-confirmation {
  opacity: 1;
}

.contact-info {
  text-align: center;
}

.copyright {
  font-family: 'Roboto', sans-serif;
}