.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hero-section {
  /* background-image: url("../../assets/hero-leaf.jpg");
  background-color: #cccccc;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-heading {
  font-size: 9rem;
  font-family: 'BioRhyme', serif;
  color: green;
  text-align: center;
  background: url("../../assets/hero-leaf.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  margin: 0;

}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-subheading {
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
  color: green;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
  background: url("../../assets/hero-leaf.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
}

.shop-now-button {
  font-family: 'Space Mono', monospace;
  color: rgb(3, 7, 5);
  width: 10rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #dedede);
  box-shadow: 2px 2px 8px #b2b2b2,
    -2px -2px 4px #ffffff;
  cursor: pointer;
}

.shop-now-button:hover {
  box-shadow: 2px 2px 12px #b2b2b2,
    -2px -2px 4px #ffffff;
}

.shop-now-button:active {
  box-shadow: inset 2px 2px 4px #b2b2b2,
  inset -2px -2px 4px #ffffff;
}

.feature-section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.value-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.value-image {
  max-width: 40vw;
  height: 70%;
  width: 50%;
  object-fit: contain;
}

.value-video {
  max-width: 50vw;
  height: 65%;
  width: 34%;
  object-fit: cover;
  border-radius: 50%;
}

.hero-content-container {
  width: 60%;
}

.value-paragraph {
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  padding: 3rem;
}