.header {
  position: sticky;
  top: 0;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: .1rem 1rem;
  background: rgba(247, 247, 247, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(247, 247, 247, 0.125);
  z-index: 1000;
}

.logo {
  height: 4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0;
}

.nav-item {
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 425px) {
  .nav-item a {
    text-align: center;
    font-size: .75rem;
  }
}

.nav-item a:hover {
  color: rgb(50, 124, 50);
}

.cart-button {
  font-family: 'Space Mono', monospace;
  color: rgb(12, 20, 16);
  border: none;
  padding: .5rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #dedede);
  box-shadow: 2px 2px 8px #b2b2b2,
    -2px -2px 4px #ffffff;
  cursor: pointer;
}

.cart-button:hover {
  box-shadow: 2px 2px 12px #b2b2b2,
  -2px -2px 4px #ffffff;
}

.cart-button:active {
  box-shadow: inset 2px 2px 4px #b2b2b2,
  inset -2px -2px 4px #ffffff;
}