.systems-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.systems-container h1 {
  font-size: 3rem;
  font-family: 'Space Mono', monospace;
}

.systems-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 5vh;
}

.systems-img {
  width: 40vw;
  object-fit: cover;
  border-radius: 10px;
}

.systems-paragraph {
  font-family: 'Space Mono', monospace;
  padding: 5vw;
  font-size: 1.5rem;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .systems-paragraph {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .systems-paragraph {
    font-size: .8rem;
  }
}

@media screen and (max-width: 425px) {
  .systems-item {
    flex-direction: column;
  }
  .systems-paragraph {
    font-size: 1rem;
  }
  .systems-img {
    width: 80vw;
  }
}